.content-wrap, .results {
  margin-top: 40px;
}

h1 {
  font-size: 45px;
}

#search {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
}

.btn-default {
  margin: 4px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  color: #FFFFFF !important;
}

.btn-default:hover {
  opacity: 0.8;
  color: #FFFFFF !important;
}

button {
  width: 122px;
  background-color: #3366cc !important;
  outline: none !important;
}

#randomResult {
  display: inline-block;
  width: 165px;
  background-color: #9ACD32 !important;
  outline: none !important;
}

/* Style the results section */

.well{
  background-color: #ffffff;
}

.results a {
  display: block;
  margin: 10px;
  padding: 0 50px;
  padding: 20px;
  text-align: justify;
  color: #000;
  background-color: #ffffff;
}

.results a:hover {
  text-decoration: none;
  color: #000;
  border-left: 4px solid #FF8C00;
}

.results .title {
  margin-bottom: 15px;
  font-size: 2em;
}

.results .extract {
  font-size: 18px;
}
